.mine{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
}
.mine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 14px;
  background-color: white;
  border-bottom: 0.5px solid #e6e6e6;
}

.mine-header > div > p {
  text-align: center;
}

.iconfont {
  /*font-weight: bolder !important;*/
}

.mine-header > div > p:nth-child(1) {
  font-size: 16px;
  color: #333333;
}

.mine-header > div > p:nth-child(2) {
  font-size: 10px;
  color: #999999;
}

.operate-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 0 12px;
  background-color: white;
}

.operate-top .avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.operate-top .avatar img {
  width: 100%;
}

.operate-top .right > ul {
  width: 240px;
  display: flex;
}

.operate-top .right > ul:nth-child(1) li {
  width: 80px;
  text-align: center;
}

.operate-top .right > ul:nth-child(1) li p {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.operate-top .right > ul:nth-child(1) li p:nth-child(2) {
  text-align: center;
  font-size: 12px;
  color: #666;
}

.operate-top .right > ul:nth-child(2) {
  margin-top: 12px;
}

.operate-top .right > ul:nth-child(2) li:nth-child(1) {
  width: 180px;
  height: 30px;
  border: 0.5px solid #999999;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}

.operate-top .right > ul:nth-child(2) li:nth-child(2) {
  width: 42px;
  height: 30px;
  border-radius: 15px;
  border: 0.5px solid #999999;
  text-align: center;
  line-height: 30px;
  margin-left: 8px;
}

