.test{
  column-count: 2;
  column-gap: 15px;
  width: 100%;
}
.home{
  padding: 0 15px;
}

.note-card{
  background-color: #fefefe;
  display:inline-block;
  width: 100%;
  /*column-break-inside : avoid;*/

}

.note-card img{
  width: 100%;
}
.note-title{padding: 0 10px}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.card-bottom>div{
  display: flex;
  align-items: center;
}
.card-bottom img{
  width: 58px;
  border-radius: 50%;
}
