.note {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10000;
}

.note .content {
  padding: 40px;
}

.note .content p:nth-child(1) {
  font-size: 45px;
  line-height: 90px;
}

.note .content p:nth-child(2) {
  font-size: 30px;
}
