.note {
  background-color: white;
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
}

.note .content {
  padding: 10px;
}

.note .content p:nth-child(1) {
  font-size: 14px;
  line-height: 28px;
}

.note .content p:nth-child(2) {
  font-size: 12px;
}
