.push-note-btn{
  margin-top: 20px;
  background-color: #ff2742;
  height: 110px;
  width: 90%;
  border-radius: 60px;
  text-align: center;
  line-height: 110px;
  font-size: 40px;
  color: white;
  margin-left: 50%;
  transform: translate(-50%,0);
  /*text-align: center;*/
  /*width: 10px;*/
}
