.auth {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.auth .header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 150px;
  color: #999999;
  padding: 0 120px;
}

.auth .title {
  margin-top: 100px;
  font-size: 90px;
  text-align: center;
  margin-bottom: 120px;
}

.auth .wrap > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth .wrap input {
  font-size: 60px;
  line-height: 120px;
  width: 850px;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.auth .wrap > div > .login-btn {
  margin-top: 50px;
  font-size: 60px;
  background-color: #ff2742;
  width: 850px;
  text-align: center;
  color: white;
  line-height: 120px;
  border-radius: 60px;
}
