.app-tab-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  /*display: none;*/
}

.app-tab-bar ul {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 2px solid #e5e5e5;
}

.app-tab-bar ul li {
  line-height: 42px;
  width: 70px;
  text-align: center;
  color: #9d9d9d;
}

.app-tab-bar ul li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-tab-bar ul li:nth-child(3) img {
  height: 36px;
  display: block;
}

.app-tab-bar .activited{
  color: #333;
  font-size: 16px;
}
